<% unless result.people.blank?%>
  <div class="detail_box">
    <h1>People ( <%= result.people.length%> )</h1>
    <% result.people.each do |people_obj| %>
      <div class="box_in_people">
        <p>
          <span class="people_subheading_font"><%= people_obj[:name] %></span>
        </p>
        <% unless people_obj[:age_range].blank? %>
          <p>
            <span class="people_label_font">Age: </span>
            <%= people_obj[:age_range]['start'] %>+
          </p>
        <% end %>
        <% unless people_obj[:type].blank? %>
          <p>
            <span class="people_label_font">Type: </span>
            <%= people_obj[:type] %>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>