<div class="wrapper_graph">
  <% if  @post && @error.blank? %>

      <!--<div class="result_box">-->
        <%#=@results_size%> <!--result found for <span><%#=@phone_number%></span> -->
      <!--</div>-->

      <div id="svgload"></div>

  <% end %>
</div>

<script type="text/javascript">
    $(document).ready( function() {
        $("#svgload").svg({
                onLoad: function()
                {
                    var svg = $("#svgload").svg('get');
                    svg.load('/whitepages-phone.svg', {addTo: true,  changeSize: true});
                },
                settings: {}}
        );

        var hd_width = $("svg").width();
        if (hd_width)  {
            //$(".header").width($("svg").width()+30);
        }

    });
</script>




 
