
@{
    ViewBag.Title = "Index";
}
<style type="text/css">
    #exampletable td {
        border: solid 1px black;
        padding: 2px 4px 2px 4px;
    }
    input[type="file"] {
        border-width: 0px;
        border-color: transparent;
        padding: 10px;
        margin: 10px;
        -webkit-box-shadow: inset 0px 0px 0px 0px;
    }
</style>
<h1>Data Cleansing Example</h1>
<div id="body">
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype="multipart/form-data" }))
    {
        <h3>Browse for a file that you want to cleanse:</h3>
        <p/>
        <input type="file" name="whichFile" id="WhichFile"/>
        <p/>
        <button type="submit" id="SubmitButton" value="Submit" name="SubmitButton">Upload</button>
    }
    <p/>
    <div>
        <p/>
        The file you upload must be a CSV (comma-separated values) file, with the following columns:
        <p/>
        <table id="exampletable">
            <tr>
                <td>Last Name</td>
                <td>First Name</td>
                <td>Middle Name or Initial</td>
                <td>Street Address 1</td>
                <td>Street Address 2</td>
                <td>City</td>
                <td>State or Province</td>
                <td>Postal Code</td>
            </tr>
        </table>

    </div>
</div>
