*{
    margin:0px;
    padding:0px;
}

.wrapper{
    margin:50px auto;
    width:1000px;
}

.search_sec{
    float:left;
    width:1000px;
    margin:0px 0px 20px 0px;
    padding:0px;
}

.search_sec p{
    font:14px Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:bold;
    margin-bottom:8px;
}

.inputbox{
    font:13px Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:normal;
    padding:5px;
    width:170px;
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
}

.find_btn{
    font:13px Arial, Helvetica, sans-serif;
    color:#fff;
    font-weight:normal;
    padding:5px 10px;
    background:#333;
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    cursor:pointer;
}

.detail_wrapper{
    float:left;
    width:1000px;
    margin:0px;
    padding:0px;
}

.detail_box{
    float:left;
    width:300px;
    margin:0px 30px 0px 0px;
    padding:10px;
    background:#f8f8f8;
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    min-height:170px;
}

.detail_box h1{
    font:14px Arial, Helvetica, sans-serif;
    color:#33;
    font-weight:bold;
    padding-bottom:6px;
}

.detail_box p{
    font:13px Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:normal;
    padding-bottom:6px;
}

.error_box{
    float:left;
    width:725px;
    margin:0px 0px 20px 0px;
    padding:10px;
    background:#F5E2DE;
    border:1px solid #934038;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    font:13px Arial, Helvetica, sans-serif;
    color:#954338;
    font-weight:normal;
}

.inputbox_address{
    font:13px Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:normal;
    padding:5px;
    width:220px;
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
}

.detail_boxin {
    float:left;
    width:278px;
    margin:0px 0px 10px 0px;
    padding:10px;
    background:#fff;
    border:1px solid #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    min-height:80px;
}

.detail_boxin:last-child{
    margin-bottom:0px;
}

.detail_box_in_result {
    float:left;
    width:960px;
    margin:0px 0px 20px 0px;
    padding:10px;
    background:#f8f8f8;
    border:1px solid #CCC;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    font:13px Arial, Helvetica, sans-serif;
    color:#333;
    font-weight:normal;
}

.detail_box_in_result table{
    margin:0px;
    padding:0px;
}

.detail_box_in_result table tr, td, th{
    margin:0px;
    padding:0px;
    border-collapse:collapse;
}

.detail_box_in_result table th{
    padding:10px 0px;
    padding-left: 10px;
}

.detail_box_in_result table td{
    padding:10px 0px 10px 10px;

}

.detail_box_in_result table tr:hover{
    background:#fff;
}

.detail_box_in_result table tr:first-child{
    background: none;
}

.detail_box_in_result table tr.detail_boxin td:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-left: 1px solid #ccc;

}

.detail_box_in_result table tr.detail_boxin td:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-right: 1px solid #ccc;
}

.detail_box_in_result:last-child{
    margin-bottom:0px;
}

.message_box{
    float:left;
    width:588px;
    margin:0px 0px 20px 0px;
    padding:10px;
    background:green;
    border:1px solid black;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
    -ms-border-radius:5px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -o-box-sizing:border-box;
    -ms-box-sizing:border-box;
    font:13px Arial, Helvetica, sans-serif;
    color:#ffffff;
    font-weight:normal;
}