<td>
  <div class="detail_box_in_person">
    <p class="people_subheading_font">
      <%=result[:name] %>
    </p>
    <% unless result[:age_range].blank?%>
      <p>
        <span class="people_label_font">Age:</span>
        <%= result[:age_range]["start"] %>+
      </p>
    <% end %>
    <% unless result[:type].blank? %>
      <p>
        <span class="people_label_font">Type:</span>
        <%= result[:type] %>
      </p>
    <% end %>
  </div>
</td>