<div class="error_box">
  <%  @error.each do |error| %>
      <%=error%> <br />
  <%  end  %>
</div>
<script type="text/javascript">
    $(document).ready( function() {
        $("#overlay").hide();
    });
</script>