<div id='wp_graph'>
  <div class='result_box'></div>
  <% if response_error.nil? %>
      <div class='wrapper_graph'>
        <div id='svg'></div>
      </div>
      <script type='text/javascript'>
          $(document).ready( function() {
              $('#svg').svg({
                          onLoad: function()
                          {
                              var svg = $('#svg').svg('get');
                              svg.load('/graph/graph_search_<%= session[:encrypt_key] %>.svg', { addTo: true,  changeSize: true, onLoad: header_width });
                          },
                          settings: {}}
              );

              function header_width() {
                  var hd_width = $('#svg > svg').width();
                  if (parseInt(hd_width) > 1400) {
                      $('.wrapper').width($('svg').width() + 100);

                  }else{
                      $('.wrapper').width('100%');
                  }
                  $('#overlay').hide();
              }
          });
      </script>
  <% else %>
      <div class="error_message">
        <%= response_error %>
      </div>
      <script type='text/javascript'>
          $('#overlay').hide();
      </script>
  <% end %>
</div>
